form{
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}

form fieldset{
    padding: 15px;
    border-radius: 10px;
}

form select{
    width: 20%;
}

.btn{
    border: 1px solid green;
    color: white;
    border-radius: 3px;
    width: 25%;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    padding: 5px;
    background-color: green;
    transition: .5s;
}

.btn:hover{
    background-color: rgb(7, 54, 54);
}
